# Table visualisation

In [1]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

## Load table

In [18]:
raw_data = pd.read_csv(r'/Users/igorfesenko/Yandex Диск/Yandex.Disk.localized/Google_Drive/PEP4/Growth_experiments/raw_ratio.csv', sep=';', header=1, usecols=['Type', 'WT', 'OE', 'KO'], index_col='Type')

In [19]:
raw_data

             WT   OE   KO
Type
Caulonema   590  689  307
Chloronema  398  209  610

## Table visualisation

https://pandas.pydata.org/docs/user_guide/style.html

In [20]:
raw_data.reset_index(inplace=True)

In [21]:
raw_data.rename(columns={"Type":" "}, inplace=True)

In [22]:
raw_data.set_index(" ", inplace=True)

In [25]:
heading_properties = [('font-size', '18px')]
cell_properties = [('font-size', '14px')]
dfstyle = [dict(selector="th", props=heading_properties), dict(selector="td", props=cell_properties)]

dfstyle = ([
    {'selector': 'th.col_heading', 'props': 'text-align: center;'},
    {'selector': 'th.col_heading.level0', 'props': 'font-size: 1.5em;'},
    {'selector': 'td', 'props': 'text-align: center; font-weight: bold;'}

In [26]:
raw_data.style.background_gradient(cmap='Oranges', axis=0, text_color_threshold=0.4).set_table_styles(dfstyle)

In [27]:
raw_data.style.background_gradient(cmap='Oranges', axis=1, text_color_threshold=0.4).set_table_styles(dfstyle)

In [29]:
raw_data.style.highlight_max(color='Red', axis=1).set_table_styles(dfstyle)

In [30]:
raw_data.style.highlight_min(color='Red', axis=1).set_table_styles(dfstyle)

In [36]:
raw_data.style.format("{:.1%}").highlight_min(color='Green', axis=1).set_table_styles(dfstyle)

In [ ]:
df_styled = raw_data.style.background_gradient(cmap='Oranges', axis=0, text_color_threshold=0.4).set_table_styles(dfstyle)
dfi.export(df_styled,"./images/Ratio_table.jpeg")